body,html,ul,li,div,span,h3,a{
  font-family: Inconsolata;
}

body,html{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}


.nav_top{
    background-color: #000;
    color: #fff;
    padding: 10px;
    height: 20px;
    margin: 0px;
}

.nav_top section{
  display: inline-block;

}

.world{
  float: left;
}

.behavior{
  float: left;
  display: block;
  width: 100%;
}

.behavior_tree{
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.agent{
  float: right;
  background-color: #4b4b4b;
  width: 250px;
  color: #fff;
  margin-top: -40px;
  border-left: 1px solid #333;
}

.agent .path{
  padding: 10px;
  color: #fff;
  text-decoration: underline;
}

.list_info{
  padding:0px;
  margin: 0px;
}

.list_info li{
  list-style: none;
  padding: 10px;
  padding-left: 15px;
  margin-top: 5px;
  height: 20px;
}

.state_edit{
  margin-left: -5px;

}

.list_info li label, .list_info li span{
  display: inline-block;
  height:20px;
}

.list_info li label{
  font-weight: bold;
  color: #a2a2a2;
}

.state_edit input{
  border: 1px solid #333;
  background-color: #666565;
  height: 20px;
  padding: 5px;
  color: #fff;
  margin-top: 5px;
  width: 170px;
  font-family: Inconsolata;
  font-size: 16px;
}

.state_edit .save,
.state_edit .cancel,
.state_edit .save:visited,
.state_edit .cancel:visited{
  text-decoration: none;
  background-color: #ccc;
  color: #000;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align:center;
  border: 1px solid #333;
  border-radius: 10px;
}


.library{
  width: 175px;
  background-color: #3d3d3d;
  float: right;
  color: #fff;
  padding:0px;
  border-left: 1px solid #333;
}

.library h3, .agent h3{
  background-color: #000;
  font-size: 16px;
  padding: 10px;
  margin: 0px;
  font-size: 16px;
  padding-left: 10px;
  color: #fff;
  height: 20px;
  margin-left: -5px;
  display: none;
}


.list_world {
  padding: 0px;
  margin: 0px;
  /*margin-top: 20px;*/
}

.template_item,.world_item{
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-size: 14px;
  vertical-align: top;
}



.library a{
  color: #fff;
  text-decoration: none;
  height: 15px;
  font-size: 15px;
  vertical-align: top;
  display: block;
}

.library{
  margin-top: -40px;
}

.world_item {
  padding: 0px;
  border-bottom: 1px solid #333;
}

.template_item, .world_link{
  padding: 10px;
  cursor: pointer;
}

.template_item:hover, .world_link:hover{
  text-decoration: underline;

}

.world_link.selected{
  background-color: #ccc;
  font-weight: bold;
  color: #000;
}

.template_list{
  padding-left: 20px;
}

.bt_new{
  padding: 10px;
  font-weight:bold;
  font-size: 16px;
  background-color: #181818;
  color: #fff;
  text-align: center;
  cursor:pointer;
  height: 20px;
}

.bt_new:hover{
  background-color: #5e5e5e;
  color: #000;
  text-decoration: underline;

}

.world_behavior{
  position: relative;
  /*background-color: #ff0000;*/
  float:left;
  overflow-y: auto;
  overflow-x: auto;
}

.world_behavior .bt_new{
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 100px;
}
