
#behavior,
#behavior ul,
#behavior li{
  text-align: center;
  padding: 0px;
  margin: 0px;
}

#behavior ul,
#behavior span,
#behavior li{
  display: inline-block;
}

#behavior h3{
  display: inline-block;
  margin: 0px;
  padding: 0px;
  font-weight: normal;;
}

#behavior label{
  vertical-align: bottom;
  display:block;
}

#behavior ul{
  display: block;
  padding: 0px;
}

#behavior li{
  padding: 0px;
  list-style: none;
  /*margin: 20px;*/
  vertical-align: top;
  margin-top: 30px;
}

#behavior .node{
  min-width: 64px;
  min-height: 48px;
  padding: 2px;
}

#behavior .icon{
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: top center;
  margin: 0px;
}

#behavior .node_menu{
  display: inline-block;
  border-radius: 42px;
  background-color: #fff;
  padding: 4px;
  border: 1px solid #3d3d3d;
  height: 32px;
}

#behavior .node_menu.selected {
  height: 32px;
}

#behavior .node_menu.selected.edit_mode{
  height: auto;
  border-radius: 20px;
}

#behavior .button{
  display: inline-block;
  width: 24px;
  height: 24px;
  text-decoration: none;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  display: none;
}

#behavior .node_menu.selected .button.add,
#behavior .node_menu.selected .button.edit{
  display: inline-block;
}

#behavior .node_menu.selected .button.confirm,
#behavior .node_menu.selected .button.cancel,
#behavior .node_menu.selected .button.delete{
  display: none;
}

#behavior .node_menu.selected.edit_mode .button.edit{
  display: none;
}

#behavior .node_menu.selected.edit_mode .button.confirm,
#behavior .node_menu.selected.edit_mode .button.cancel,
#behavior .node_menu.selected.edit_mode .button.delete{
  display: inline-block;
}

#behavior .node_menu.selected.edit_mode .edit_area{
  display: block;
}


#behavior .button.add{
  background-image: url("../img/plus.svg");
}

#behavior .button.edit{
  background-image: url("../img/pencil.svg");
}

#behavior .button.confirm{
  background-image: url("../img/confirm.svg");
}

#behavior .button.cancel{
  background-image: url("../img/error3.svg");
}

#behavior .button.delete{
  background-image: url("../img/error.svg");
}

#behavior .icon.world{
  background-image:url("../img/internet.svg");
}

#behavior .icon.agent{
  background-image:url("../img/user.svg");
}

#behavior .icon.selector{
  background-image:url("../img/info.svg");
}

#behavior .icon.condition{
  background-image:url("../img/info2.svg");
}

#behavior select{
  display: block;
  border: 1px solid #3d3d3d;
  background-color: #fff;
  margin: 2px;
  margin-top: 5px;

}

#behavior .edit_area{
  position: relative;
  text-align: left;
  margin: -4px;
  margin-top: 4px;
  border-top: 1px solid #3d3d3d;
  background-color: #ccc;
  padding: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: none;
}



#behavior .name_empty,
#behavior .name_field{
  position: relative;
  display: inline-block;
  /*width: 170px;*/
  border: 1px solid #3d3d3d;
  text-align:left;
  padding: 2px;
  height: 15px;
  margin: 0px;
  margin: 2px;
  vertical-align: top;
}

#behavior .name_empty{
  z-index: 0;
  position: absolute;
  color: #fff;
  /*display:inline-block;*/
  margin-right: 4px;
}

#behavior .name_field{
  background-color: #fff;
  z-index: 15;
}

#behavior .condition_value{
  display: inline-block;
  width: 150px;
  border: 1px solid #3d3d3d;
  text-align:left;
  padding: 4px;
  padding-top: 2px;
  height: 15px;
  margin: 2px;
  vertical-align: top;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#behavior .condition2_value{
  display: none;
}

#behavior .section.condition{
  padding-top: 3px;
  padding-bottom: 3px;
  border-top: 1px solid #666;
}

#behavior .section.name{
  border: none;
}

#behavior .section.condition2{
  padding-bottom: 0px;
}
